<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
        <files>
            <clear />
            <add value="index.html" />
        </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".ico" />
      <remove fileExtension=".css" />
      <remove fileExtension=".js" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=utf-8" />
      <mimeMap fileExtension=".js" mimeType="application/javascript;charset=utf-8" />
      <mimeMap fileExtension=".css" mimeType="text/css;charset=utf-8" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    <httpErrors>
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" subStatusCode="-1" path="/404/" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Remove WWW prefix">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^www\.adrianba\.net" />
          </conditions>
          <action type="Redirect" url="https://adrianba.net/{R:1}" redirectType="Permanent" />
        </rule>
        <!--rule name="HTTP to HTTPS redirect">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule-->
        <rule name="Rewrite RSS">
          <match url="(feed|Atom\.aspx|rss\.aspx|rss/rss\.aspx)" ignoreCase="true" />
          <action type="Redirect" url="/feed.xml" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite Default">
          <match url="default.aspx?" ignoreCase="true" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="Allow .html for archive days" stopProcessing="true">
          <match url="(\d+)/(\d+)/(\d+)\.html" ignoreCase="true" />
          <action type="None">
        </rule>
        <rule name="Rewrite Archive">
          <match url="archive/(\d+)/(\d+)/(.+).aspx" ignoreCase="true" />
          <action type="Redirect" url="/{R:1}/{R:2}/{R:3}/" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite Archive Folder">
          <match url="archive/(\d+)/(\d+).aspx" ignoreCase="true" />
          <action type="Redirect" url="/{R:1}/{R:2}/" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite extensions">
          <match url="(.*)(\.htm|\.html|\.aspx)" ignoreCase="true" />
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
        <customHeaders>
            <clear />
            <add name="Strict-Transport-Security" value="max-age=10886400; includeSubDomains" />
        </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
